In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('enterprise.db')

In [4]:
curs = conn.cursor()

In [5]:
curs.execute('''CREATE TABLE zoo
(critter VARCHAR (20) PRIMARY KEY,
count INT,
damages FLOAT)''')

In [6]:
curs.execute('INSERT INTO zoo VALUES ("duck", 5, 0.0)')

In [7]:
curs.execute('INSERT INTO zoo VALUES ("bear", 2, 1000.0)')

In [8]:
ins = 'INSERT INTO zoo (critter, count, damages) VALUES (?, ?, ?)'

In [9]:
curs.execute(ins, ('weasel', 1, 2000.0))

In [10]:
curs.execute('SELECT * FROM zoo')

In [11]:
rows = curs.fetchall()

In [15]:
from pprint import pprint
pprint(rows)

[('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0)]

In [18]:
curs.execute('SELECT * from zoo ORDER BY count DESC')

In [19]:
curs.fetchall()

[('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0)]

In [20]:
curs.execute('''SELECT * FROM zoo WHERE
damages = (SELECT MAX(damages) FROM zoo)''')

In [21]:
curs.fetchall()

[('weasel', 1, 2000.0)]

In [22]:
curs.close()
conn.close()